<mat-toolbar color="primary"> <!-- Esta area es el menu -->
    <mat-toolbar-row>
        <h1>Sistema Venta</h1>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: 14px; margin-right: 20px;">
            {{correoUsuario}} | {{rolUsuario}}
        </label>
        <button mat-icon-button (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container> <!-- Esta area es la parte izquierda del contenido -->
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;"  >
        <mat-nav-list>

           <!-- <mat-list-item routerLink="/pages/productos"> <!-- Esto es una prueba 
                <mat-icon mat-list-icon>collections_bookmark</mat-icon>
                <div mat-line>Productos</div>
            </mat-list-item> -->

            <mat-list-item *ngFor="let menu of listaMenus"   [routerLink]="menu.url">
                <mat-icon mat-list-icon>{{menu.icono}}</mat-icon>
                <div mat-line>{{menu.nombre}}</div>
            </mat-list-item>


        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content> <!-- Esta area es el contenido principal y es dinamico -->
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>